body {
    font-family: Arial, sans-serif;
    background: black;
    color: white;
    padding: 20px;
    text-align: center;
}

.container {
    width: 70% ;
    color: white;
    margin: auto;
    background: #232323;
    padding: 0 30px 30px 30px;
    border-radius: 8px;
    border: 1px solid rgba(52, 50, 50, 0.1);
    box-shadow: 0 0 10px rgba(52, 50, 50, 0.1);
    margin-top: 10px;
}

input[type="text"] {
     width: 80%;
    padding: 10px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #333;
    color: white;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    background: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 35px;
}

button:hover {
    background: #45a049;
}

.result {
    margin-top: 30px;
    text-align: left;
}

.error {
    color: red;
    font-weight: bold;
}

p {
    margin-top: 20px;
    font-size: 0.8em;
    line-height:22px;
}
p strong{
    font-size: 1rem;
}

.version-tag {
    display: inline-block;
    background-color: #eee;
    color: black;
    border-radius: 4px;
    padding: 5px 10px;
    margin: 4px;
    font-size: 14px;
}

.history {
    margin-top: 30px;
    text-align: left;
}

.history h3 {
    margin-bottom: 10px;
}

.history-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tag-button {
    background-color: #e0e0e0;
    text-decoration: none;
    color: #000;
    border: none;
    border-radius: 20px;
    padding: 6px 14px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.tag-button:hover {
    background-color: #4caf50;
}

.compare{
    background-color: white;
    text-decoration: none;
    color: black;
    padding: 6px 14px;
    font-size: 14px;
    border-radius: 35px;
    cursor: pointer;
    transition: background-color 0.2s;
}
.compare:hover {
    background-color: #4caf50;
}

.compare-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
      margin-top: 30px;
    }
    .box {
      background: #1a1a1a;
      padding: 20px;
      border-radius: 8px;
      border: 1px solid #333;
    }